<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.run_walk_tracking_gps">


    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- Permission for IMEI code -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <!-- Permission for map -->
    <uses-permission android:name="com.example.permission.MAPS_RECEIVE" />

    <!-- Permission Position  -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- Permissions to Take or Write image -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- Permissions to speech with server -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>

    <!-- Permission to FOREGROUND SERVICE -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <!-- Feature SENSOR (distance) -->
    <uses-feature android:name="android.hardware.sensor.STEPCOUNTER" />



    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_runwalktracking"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_runwalktracking_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        android:usesCleartextTraffic="true">

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity android:name=".gui.SplashScreenActivity" android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
          <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".gui.BootAppActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".gui.SignUpActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".gui.ActivationAccountActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".gui.ForgotPassword"
            android:screenOrientation="portrait" />
        <activity
            android:name=".gui.LoginActivity"
            android:parentActivityName=".gui.BootAppActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".gui.ApplicationActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask">
        </activity>

        <activity
            android:name=".gui.SettingActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".gui.DetailsWorkoutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".gui.ModifyWorkoutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".gui.NewManualWorkoutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".gui.activity_of_settings.MeasureUnitActivity"
            android:parentActivityName=".gui.SettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".gui.activity_of_settings.UserActivity"
            android:parentActivityName=".gui.SettingActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".gui.activity_of_settings.ChangePasswordActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".gui.activity_of_settings.VoiceCoachActivity"
            android:parentActivityName=".gui.SettingActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".gui.activity_of_settings.ModifyUserActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".gui.NewWeightActivity"
            android:screenOrientation="portrait"
            />

        <activity android:name=".gui.ModifyWeightActivity" android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".gui.activity_of_settings.InfoActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".gui.SettingActivity" />

        <!-- SERVICE -->
        <service android:name=".service.WorkoutService"/>
        <service android:name=".service.NetworkService"/>

        <!-- RECEIVER -->
        <receiver android:name=".receiver.ReceiverNotificationButtonHandler" />

        <receiver android:name=".service.SyncServiceHandler$RequestSyncBroadcastReceiver"
            android:exported="false">
        </receiver>

    </application>

</manifest>